.img
    &-container
        overflow: hidden

.flex
    display: flex
    &--center--center 
        align-items: center  
        justify-content: center
    &--center--left
        align-items: center  
        justify-content: left
    &--center--right
        align-items: center  
        justify-content: right
    &--center--between
        align-items: center  
        justify-content: space-between
    &--center--around
        align-items: center  
        justify-content: space-around
    &--column
        flex-direction: column
    &--wrap
        flex-wrap: wrap

    &-item
        &--grow   
            flex: 1 0;
        &--shrink
            flex: 0 1;
