.alert
    &.is-danger
        background-color: $red-30
        border: 2px solid $red-20 
        color: $red-20 
    &.is-success
        background-color: $green-30
        border: 2px solid $green-20 
        color: $green-10 
    &.is-warning
        background-color: $yellow-30
        border: 2px solid $yellow-20 
        color: $yellow-10 
    &.is-info
        background-color: $blue-30
        border: 2px solid $blue-20 
        color: $blue-10 