.app
    padding: $xlarge
    box-sizing: border-box
    max-height: 100%
    overflow: auto
    &-title
        @extend %font-bold, %text-upercase
        color: $grey-blue-10
        padding: 0 0 $small 0
        border-bottom: 2px solid $grey-blue-40
    &-body
